@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-image: url(../images/honeycombBG.svg);
  background-size: cover;
  background-repeat: repeat;
  backdrop-filter: blur(2px);
  font-family: "IM Fell Double Pica", serif;
}

h1 {
  font-family: "Parisienne", cursive;
}
