@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: #fff;
  background-image: url(../images/honeycombBG4.svg);
  background-size: cover;
  background-repeat: repeat;
  font-family: "IM Fell Double Pica", serif;
}

h1 {
  font-family: "Parisienne", cursive;
}

.bgImage {
  background-image: url(../images/landingCollage3.svg);
  background-repeat: no-repeat;
}
